NODE_ENV=development
PORT=3099
DATABASE_URL=postgresql://postgres:postgres@localhost:5544/field_management_backend?schema=public
KEYCLOAK_PUBLIC_KEY=
KEYCLOAK_URL=http://192.168.1.11:8181
KEYCLOAK_REALM=field-management-backend
KEYCLOAK_CLIENT_ID=field-management-api
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
